实验数据.xlsx
*bat.sh

AirNet/
AirNet1/
AirNet2/
AirNet3/
AirNet4/
AirNet5/
AirNet7/
RiverNet/
AuditNet/
AuditNet2/
doc/
DataSource/dm-ps/
DataSource/epa/

__pycache__
deprecated
DataSource/vs/chem_tester.py
DataSource/vs/combine_tester.py
.~实验数据.xlsx
